# Intellij template
.idea
*.iml
*.ipr
*.iws

# IntelliJ
out/

# Maven template
target/
.mvn/
mvnw
mvnw.cmd
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Ignore everything in activemq
activemq/*

# Do not ignore the conf directory and its contents
!activemq/conf/
!activemq/conf/**

# Do not ignore the data directory, but ignore its contents
!activemq/data/
activemq/data/*

